li a {
    color: green;
}

body {
    background: white url("images/django-bg.jpg") no-repeat; ; background-size: 800px 600px;
}
.jktable {
    border: 1px solid blue;

    td {padding: 5px;
        background-color: rgba(0, 200, 0, 0.1);;
        border-style: dotted;
        border-width: 1px;
}
margin-bottom: 10px;
}

fieldset > p > strong{
 color:#ff00aa;
}