{% load static %}

 <script src="{% static 'app_2/js/jquery37.js' %}"></script>
 <script src="{% static 'app_2/js/testajax.js' %}"></script>
 <!--<script src="{% static 'app_2/js/conn.js' %}"></script> -->
<link rel="stylesheet" href="{% static 'app_2/style_app_2.css' %}">
<link rel="shortcut icon" type=type="image/x-icon" href="{% static 'app_2/images/favicon.ico' %}" />

{% if param1 %}
    <ol>
    {% for mot in param1 %}
        <li> <a href="{% url 'app_2:index' %}">{{ mot}}</a></li>
    {% endfor %}
    </ol>
{% else %}

{% endif %}
<p>Essai.</p>
<!--      <div id="my-div"><script type="module" src="{% static 'app_2/js/conn.js' %}">
 	            console.log(pool.getConnetion());
          </script><form> <button onclick="console.log(pool.getConnetion());">Change color</button>
           </form>
      </div>  -->
<form>
    <input type="text"  id="nom" width="5" placeholder="un param par défaut #">
        <input type="text" id="date" width="8" placeholder="2023-11-14 12:00:00" value="2023-11-14 12:00:00">
    <input type="button" value="Submit" onClick="create_note();">
</form>